.container {
  display: 'flex';
  height: auto;
  border-radius: 8px;
  border: 1px solid #efeff8;
  padding: 16px;
  flex: 20%;
  margin: 8px 8px 8px 0;
  cursor: pointer;
}

.title {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.005em;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120%;
  margin-top: 16px;
}

.description {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.005em;
  max-width: 300px;
  line-height: 120%;
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #575757;
}
.img {
  border-radius: 8px;
  height: 166px;
  width: 100%;
}
